
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color:#2c333c;
}

/****Author-2-custom-styles****/
/****cancer-page-styles*******/

/****Banner-Styles*******/

/* ----------------ravi code for nav bar-------------- */

  input[type='radio'] {
      -webkit-appearance:none;
      width:15px;
      height:15px;
      border:1px solid darkgray;
      border-radius:50%;
      outline:none;
      box-shadow:0 0 5px 0px gray inset;
  }
  input[type='radio']:hover {
      box-shadow:0 0 5px 0px lightblue inset;
  }
  input[type='radio']:before {
      content:'';
      display:block;
      width:60%;
      height:60%;
      margin: 20% auto;
      border-radius:50%;
  }
  input[type='radio']:checked:before {
      background:#4f5be7;
  }

/* ---------------eo ravi code----------------- */
.cancer-banner-sec-wrap .cancer-banner-sec{
  background: url(./img/cancerpage/Back-new.png) no-repeat center;-webkit-background-size: 100%;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cancer-banner-sec-wrap .cancer-banner-sec .container{
  height: 500px;
  margin-top:0!important;

}

.cancer-banner-sec-wrap .cancer-banner-sec .container h1{
  font-family: 'Roboto', sans-serif;
  font-size:3rem;
  padding-top: 140px;
  font-weight: 900!important;
}

.cancer-banner-sec-wrap .cancer-banner-sec .container p{
  font-size:1.5rem;
  padding-bottom:195px;
  color:#2c333c;
  font-weight:300;
  max-width:640px;
  line-height:30px;
}

@media (max-width: 767.98px) {
  .cancer-banner-sec-wrap .cancer-banner-sec .container{
    height: 600px;
  }
}

@media (min-width: 768px) {
  .cancer-banner-sec-wrap .cancer-banner-sec .container{
    padding-left:0px;

  }
}


input[type="text"] {
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  color:#84888e;
}
.i4{
  font-size: 14px;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  padding-left:20px;
  padding-right:20px;
  background-color:#4f5be7;
  border-radius:30px;
}
.sec1-landing{
  height:567px;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.example1 {
border: 2px solid red;
padding: 10px;
border-radius: 500px;
width:50%;
}
.main-background-page2{
  background: url(hello.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:65vh;
  background-position: top;
}
.background-card-page2{
background: url(page2/card_main_Background.png) no-repeat center center fixed;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
background-position: top;
}
.main-background{
  background: url(main-banner.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  background-position: top;
}
.sec6 ul {

  margin: 0;
  padding: 0;
}
.sec6 li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  line-height:1.3;
  padding-bottom:15px;
  font-size:1.125rem;

}
.sec6 li::before {
  content:"\f0da";
  font-family: 'Font Awesome\ 5 Free';
  font-size: 1.125rem;
  position: absolute;
  top: -1px;
  left: -10px;
  color:#eab624;
}


.main-background-2{
  background: url(banner-bg-2.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}

.r1{
border-radius: 2.5rem!important

}

.r2{

border-radius: 150px;
border: 7px solid #ffffff;

}

.r3{
border-radius: 4rem!important

}
.r4{
  border-radius: 2rem!important
}
/****Author-2-custom-styles****/
/****heart-page-styles*******/

/****Banner-Styles*******/

.heart-banner-sec-wrap .heart-banner-sec{
  background: url(./heart-img/new-heart.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heart-banner-sec-wrap .heart-banner-sec .container{
  height: 500px;
  margin-top:0!important;

}

.heart-banner-sec-wrap .heart-banner-sec .container h1{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:3rem;
  padding-top: 140px;
  font-weight: bold;

}

.heart-banner-sec-wrap .heart-banner-sec .container p{
  font-size:1.5rem;
  padding-bottom:195px;
  color:#2c333c;
  font-weight:300;
  max-width:640px;
  line-height:30px;
}

@media (max-width: 767.98px) {
  .heart-banner-sec-wrap .heart-banner-sec .container{
    height: 600px;
  }
}

@media (min-width: 768px) {
  .heart-banner-sec-wrap .heart-banner-sec .container{
    padding-left:0px;

  }
}

/****End of Banner-Styles*******/

/****Heart Disease-Styles*******/

.heart-disease-sec-main{
  margin: 0 auto;
  /*border: solid 1px red;*/
  padding-top:100px;
  padding-bottom:50px;

}

.heart-disease-sec-main .intro-text-wrap{
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-bottom:150px;
  max-width:800px;

}

.heart-disease-sec-main .intro-text-wrap h2{
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  max-width:840px;
  text-align: center;

}


.heart-disease-sec h3{
  font-size:1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  max-width:840px;
  text-align: left;
  color:#4f5be7;
  padding-bottom:15px;
  margin-bottom:0;

}

.heart-disease-sec .heartdisease-content{
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  font-weight:400;
  text-align: left;
  padding-top:15px;
  margin:0;
}

@media (max-width: 575.98px) {
  .heart-disease-sec .hd-img{

    margin-bottom:40px;
  }

  .heart-disease-sec .hd-text{

    margin-top:40px;
  }

}




/*** Heart Disease**families-Styles*******/

.heart-disease-sec-main .families-sec{
  padding-top:100px;

}


/*****end of families section******/
/****End of Heart Disease-Styles*******/

/****End of hd-risks-Styles*******/
.hd-risks .hd-risks-block{
  padding-top:150px;
}


/****lifestyle factors section-Styles*******/


.life-factors-main-sec{
  background: url(./heart-img/lifestyle-factors-background.png) no-repeat center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}

.life-factors-main-sec .life-factors-main-wrap{
  padding-top:130px;
  padding-bottom:130px;
  margin:0 auto;
}

.life-factors-main-sec .life-factors-main-wrap h2{
  font-family: 'Roboto', sans-serif;
  font-size:2.5rem;
  font-weight:900;
  padding-bottom:40px;
  margin:0 auto;
}

.life-factors-card-main-wrap .card-deck .card-deck-wrap{
  padding:0px 10px;
  margin:0;
}

.life-factors-card-main-wrap .card-deck .card-deck-wrap .card{
  border:none;
  margin:0;
  height:300px;
}

.life-factors-main-wrap .card-body .card-block .card-img{
  height:160px;
  width:160px;
}

.life-factors-main-wrap .card-body .card-text{
  font-family: 'Roboto', sans-serif;
  font-size:1.5rem;
  font-weight:900;
  text-align: center;
  text-transform: uppercase;
  padding-top:0px;
  margin:0 auto;
  line-height:1.2;
  max-width: 150px;
}


@media (max-width: 767.98px) {
  .life-factors-card-main-wrap .card-deck .card-deck-wrap .card{
    margin-left:50px;
    margin-right:50px;
  }
}

/*****End of lifestyle factors section******/

/*****genetic risks styles*******/

.gr-sec .gr-sec-wrap{
  padding-top:50px;
 /* padding-bottom:100px; */
}


.gr-sec .gr-sec-wrap .gr-header{
 /* border:solid 1px black;*/
  margin:0 auto;
}
.gr-sec .gr-sec-wrap .gr-header h2{
  font-weight:900;
  font-size:2.5rem;
  margin:0 auto;
  padding-bottom:10px;
}

.gr-sec .gr-sec-wrap .gr-header p{
/*  border:solid 1px black;*/
  margin:0 auto;
  font-size:2.25rem;
  font-weight:400;
  padding-top:10px;
}


/* gr-card-new */

.gr-card-wrap .card-body{
  height:1000px;
  text-align: center;
  margin:0 auto;
}

.gr-card-wrap .card-body .card-top{
  background-color: #eff7ff;
  margin:0;
  padding:0px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-align: center;
}

.gr-card-wrap .card-body .card-top .card-title{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  text-transform: none;
  font-size:1rem;
  color:#4f5be7;
  padding-top:50px;
  padding-bottom:20px;
  padding-right:20px;
  padding-left:20px;
  margin:0;

}

.gr-card-wrap .card-body .card-btm{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin:0;
  padding:10px;
  text-align:center;
  height:11rem;
}

.gr-card-wrap .card-body .card-text{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1rem;
  margin:0;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 575.98px) {
  .gr-card-wrap .card-body{
    height:250px;
  }
}


@media (min-width: 576px) {
  .gr-card-wrap .card-body{
    height:250px;
  }
}

@media (min-width: 768px) {
  .gr-card-wrap .card-body{
    height:300px;
  }
}

/*****End of gr-card-new styles*******/


.learn-btn{
  margin: 0 auto;
/*  border:solid 1px red;*/
  text-align:center;
}

.learn-btn .gc-title{
  margin: 0 auto;
  text-align: center;
  padding-top:20px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size:1.125rem;
  text-decoration:none;
  color:#2c333c;
  padding-bottom:10px;
}

.learn-btn .gc-button{
  margin: 0 auto;
  display:inline-block;
  padding:20px 30px;
  font-size:1.125rem;
  font-weight:bold;
  text-decoration:none;
  color:#2c333c;
  text-align:center;
  background-color:#fff;
  border-radius:40px;
  margin-top:0px;
  transition: all .7s;
  text-decoration: underline;
}

.learn-btn .gc-button:hover{
  font-weight:bold;
  font-size:1.125rem;
  background-color:#4f5be7!important;
  border-radius:40px;
  color:#fff;
  transition: all .5s;
  text-decoration: none;
}


/*****heart condition******/

.heart-condition-sec{
  margin: 0 auto;
 /* border: solid 1px green;*/
  padding-top:90px;
  padding-bottom:170px;

}


.heart-condition-sec .families-sec{

}


.heart-condition-sec .families-sec .row{
/*  border: solid 1px yellow;*/
  margin-top:0px;
}



.heart-condition-sec .families-sec .row .familes-text{
  padding-top:75px;
  padding-right:30px;
  padding-left:30px;
/*  border: solid 1px blue;*/
}

.heart-condition-sec .families-sec .row .familes-text h3{
  color:#4f5be7;
  max-width:700px;
  font-size:1.875rem;
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  text-align: left;
  padding-bottom:20px;
  margin:0;
/*  border: solid 1px pink;*/
}

.heart-condition-sec .families-sec .row .familes-text p{
  max-width:700px;
  font-size:1.125rem;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  text-align: left;
  margin:0;
}
.heart-condition-sec .families-sec .row .familes-text .para-1{
  padding-top:20px;
  padding-bottom:15px;
}

.heart-condition-sec .families-sec .row .familes-text .para-2{
  padding-top:15px;
}
.heart-condition-sec .families-sec .row .families-img{
/*  border: solid 1px black;*/
  margin: 0 auto;
  text-align: center;
  width: 486px;
  height: 400px;

}

.heart-condition-sec .families-sec .row .families-img img{
  margin: 0 auto;
  display: block;

}

@media (min-width: 768px) {
  .heart-condition-sec .families-sec .row .familes-text{
    padding-left:0px;
    padding-right:0px;
  }

  .heart-condition-sec .families-sec .row .familes-text p{
    padding-right:20px;
    margin-top:0px;
  }
}

/*****End of heart condition******/

/****heart condition accordian****/

.heart-accordian-sec{
 /* border:solid 1px blue;*/
  background-color: #eff7ff;
  margin-top:50px;

}

.heart-accordian-sec .heart-accordian-sec-wrap{
  /*border:solid 1px pink;*/
  padding-bottom:100px;


}

.heart-accordian-sec .heart-accordian-sec-wrap .accordian{
  /*border:solid 1px pink;*/
  padding-bottom:70px;


}

.heart-accordian-header{
  margin: 0 auto;
/*  border:solid 1px yellow;*/
  padding-bottom:25px;
  padding-top:90px;

}

.heart-accordian-header h2{
  font-family:
  max-width:700px;
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  margin:0 auto;
/*  border:solid 1px green;*/
}

.heart-accordian-header .hc-sub-title{
  font-family:
  max-width:600px;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

.hc-accordian-wrap .accordion .card{
  border:none;
  background-color:transparent!important;
  padding-top:25px;
}

.hc-accordian-wrap .card-header{
  border-bottom: solid 2px #c8daec;
  background-color:#fff;
  padding-left:0px;
}

.hc-accordian-wrap .card .card-body{
  background-color:#dcf4f4;
}

.hc-accordian-wrap .card-header h5{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:left;
  /* text-transform: uppercase; */
  font-size:1.5rem;
  padding-left:0px;
}

.hc-accordian-wrap .card-header .collapse-color{
  color:#4f5be7;
}

.hc-accordian-wrap .card-header h5 button .fa{
  text-align:right;
  font-size:1.375rem;
  color:#4f5be7;
}

/****end of heart condition accordian****/

/*****be proactive sec******/
.be-proactive-sec{
/*  border:solid 1px red;*/
  padding-top:130px;
  padding-bottom:130px;
}

.be-proactive-sec .be-proactive-img-wrap{
 /* border:solid 1px green;*/

}

.be-proactive-sec .be-proactive-text{
  /*border:solid 1px yellow;*/
  padding-top:40px;

}

.be-proactive-sec .be-proactive-text h3{
  font-size:2.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: left;
  color: #4f5be7;
/*  border:solid 1px black;*/

}

.be-proactive-sec .be-proactive-text .imp-text{
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: left;
  /*border:solid 1px cyan;*/
  padding:40px 0px;

}

.be-proactive-sec .be-proactive-text ul li i{
  font-size:1rem;
  text-align: left;
  color: #eab623;
/*  border:solid 1px black;*/

}

/*****end of be proactive sec******/

/***** benifits sec******/

.be-proactive-sec .benifits-img-wrap{
/*  border:solid 1px green;*/
  padding-top:100px;

}

.be-proactive-sec .be-proactive-text .imp-text-1{
  padding-bottom:20px;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-family:400;
  text-align: left;
  margin:0;
  /*border:solid 1px cyan;*/
}


.be-proactive-sec .be-proactive-text .imp-text-2{
  padding-top:10px;
  padding-bottom:40px;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: left;
  /*border:solid 1px cyan;*/
}

/***** end of benifits sec******/

.what-you-sec{
  padding-bottom:80px;
}

.what-you-sec .what-you-sec-header{
  padding-top:50px;
  padding-bottom:65px;
}

.what-you-sec .what-you-sec-header h2{
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align: left;
  margin:0;
  padding-bottom:10px;
}

.what-you-sec .what-you-sec-header p{
  margin:0 auto;
  font-size:1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  text-align: center;
  color:#2c333c;
  padding-top:10px;

}

.wyg-card-wrap .card{
  width:auto;
  height:530px;
}

.wyg-img-box{
  margin: 0 auto;
  width:auto;
}

.card-1 .wyg-img-box .wyg-img-wrap{
  display:block;
  width:180px;
  height:180px;
  line-height:150px;
  border: solid 20px #f2d278;
  border-radius:50%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.card-2 .wyg-img-box .wyg-img-wrap{
  display:block;
  width:180px;
  height:180px;
  line-height:150px;
  border: solid 20px #ebb095;
  border-radius:50%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;

}

.card-3 .wyg-img-box .wyg-img-wrap{
  display:block;
  width:180px;
  height:180px;
  line-height:150px;
  border: solid 20px #d7cceb;
  border-radius:50%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.card-4 .wyg-img-box .wyg-img-wrap{
  display:block;
  width:180px;
  height:180px;
  line-height:150px;
  border: solid 20px #80dafd;
  border-radius:50%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.wyg-card-wrap h5{
  margin:0 auto;
  font-size:1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom:18px;
  padding-top:30px;

}

.wyg-card-wrap p{
  margin:0 auto;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  text-align: center;
  color:#fff;

}

.wyg-card-wrap .card-1{
  background-color: #eab623;
}
.wyg-card-wrap .card-2{
  background-color: #de7e52;
}
.wyg-card-wrap .card-3{
  background-color: #bdacdf;
}
.wyg-card-wrap .card-4{
  background-color: #2fc2fc;
}

.card-1 .wyg-img-wrap  img,
.card-2 .wyg-img-wrap  img,
.card-3 .wyg-img-wrap  img{
  display:block;
  height: auto;
  width: 70px;
  margin: 0 auto;
  margin-top: 40px;
}

.card-4 .wyg-img-wrap  img{
  display:block;
  height: auto;
  width: 70px;
  margin: 0 auto;
  margin-top: 20px!important;
}


@media (max-width: 575.98px) {
  .wyg-card-wrap .card{
    height:470px;
  }
}

@media (min-width: 768px) {
  .wyg-card-wrap .card{
    height:470px;
  }
}

@media (min-width: 1200px){
  .wyg-card-wrap .card{
    height:550px;
  }
}

/****End of what-you get? styles*******/
/****Inherited Heart Accordian styles*******/


.inherited-accordian-sec{
 /* border:solid 1px blue;*/
  background-color: #eff7ff;
  margin-top:85px;

}

.inherited-accordian-sec .inherited-accordian-sec-wrap{
/*  border:solid 1px pink;*/
  padding-bottom:100px;


}

.inherited-accordian-sec .inherited-accordian-sec-wrap .accordian{
  /*border:solid 1px pink;*/
  padding-bottom:70px;


}

.inherited-accordian-header{
  margin: 0 auto;
  padding-bottom:25px;
  padding-top:90px;

}

.inherited-accordian-header h2{
  font-size:2.5rem;
  font-family: 'Roboto ', sans-serif;
  font-weight:900;
  margin:0 auto;
  padding-bottom:15px;
}

.inherited-accordian-header .ia-sub-title{
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  margin: 0 auto;
  padding-top:0px;
  max-width:900px;
  text-align: center;
}

.inherited-accordian-sec-wrap h4{
  max-width:600px;
  font-size:1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  color:#4f5be7;
}

.inherited-accordian-sec-wrap p{
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  text-align:left;
}

/****End of inherited Heart accordianstyles*******/
/****useful-resources-pill styles*******/

.useful-resources-sec{
/*  border: solid 1px red;*/
  padding-top:50px;
  padding-bottom:30px;
}

.useful-resources-sec .ur-header-wrap{

}

.useful-resources-sec .ur-header-wrap h2{
/*  border: solid 1px cyan;*/
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align: center;
  margin:0;
  padding-top:75px;
  padding-bottom:65px;

}

.useful-resources-sec .ur-pill-wrap{
/*  border: solid 1px blue;*/
  margin:0 auto;

}

.useful-resources-sec .ur-pill .rounded-pill{
/*  border: solid 1px blue;*/
  margin:0 auto;
  width: 250px !important;
}

.useful-resources-sec .ur-pill-wrap .pill-1 .ur-link{
/*  border: solid 1px blue;*/
  background-color:#eab623;
  border: none;
  display:block;
  text-align:center;

}

.useful-resources-sec .ur-pill-wrap .pill-2 .ur-link{
/*  border: solid 1px blue;*/
  background-color:#de7e52;
  border: none;
  display:block;
  text-align:center;

}

.useful-resources-sec .ur-pill-wrap .pill-3 .ur-link{
/*  border: solid 1px blue;*/
  background-color:#bdacdf;
  border: none;
  display:block;
  text-align:center;

}

.useful-resources-sec .ur-pill-wrap .pill-4 .ur-link{
/*  border: solid 1px blue;*/
  background-color:#2fc2fc;
  border: none;
  display:block;
  text-align:center;

}

.useful-resources-sec .ur-pill-wrap .ur-link .ur-img-wrap{
/*  border: solid 1px green;*/
  display: block;
}

.useful-resources-sec .ur-pill-wrap .ur-link .ur-img-wrap img{
  display: block;
  height:100px;width:100px;
}
.useful-resources-sec .ur-pill-wrap .ur-link .ur-link-title{
/*  border: solid 1px blue;*/
  font-size:1rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#fff;
  display:inline-block;
  text-align:left;
  margin-top:30px;
  padding-left:10px;
  line-height:18px;

}

/****End of useful-resources-pill styles*******/

/****Are you ready sec styles*******/

.ayr-sec-main{
  padding-bottom:100px!important;
}

.ayr-sec-main .intro-text-wrap {
  padding-bottom:0px!important;
}

.ayr-sec-main .intro-text-wrap h2{
  text-transform: uppercase;
}

.ayr-sec-main .hd-text h3{
  font-size:1.875rem!important;
  font-weight:bold;
}

.ayr-sec-main .hd-text button {
  margin-top:20px;
  padding:5px 25px ;
}

.ayr-sec-main .hd-text button i{
  padding-left:10px;
}



/****End of Are you ready sec styles*******/
/****what my genes have to say styles*******/

.genes-say-sec{
/*  border:solid 1px red;*/
  padding-bottom: 100px;
  padding-top:100px;
}


.genes-say-sec .gs-sec-wrap{
/*  border:solid 1px yellow;*/
}

.genes-say-sec .gs-sec-wrap .genes-say-header{
/*  border:solid 1px blue;*/
  margin: 0 auto;

}

.genes-say-sec .gs-sec-wrap .genes-say-header h2{
/*  border:solid 1px blue;*/
  margin: 0 auto;
  font-size:2.5rem;
  font-family: 'Roboto black', sans-serif;
  font-weight:900;
  text-align:center;
}


.gs-card-wrap .card-body{
  background-color:#eff7ff;
  border-bottom-left-radius:4rem!important;
  border-bottom-right-radius:4rem!important;
}

.gs-card-wrap .card-body p{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-weight:400;
  font-size:1.125rem;

}


.gs-card-wrap .card-1  img{
  height:300px;
  width:200px;
}

.gs-card-wrap .wrapper button{
  height:60px;
  width:210px;
  border-radius:30px;
}

/****End of what my genes have to say styles*******/

/****heart-page-styles-end-here*******/
/****risk-summary-styles-start-here*******/

/* navbar */
.risk-nav{
  margin-top: 40px;

}
.risk-nav .nav-menu {
  padding: 30px;
  transition: all .7s;
}

.risk-nav .navbar-nav{
  width:70%;
}

.risk-nav .nav-item{
  padding-right:20px;
  padding-left:20px;
}

.risk-nav .menu-item {
  display:inline-block;
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: #2c333c;
  transition: color .5s;
  text-align:center;
  padding-right:25px;
  padding-left:25px;

}



.risk-nav .nav-active{
  display:inline-block;
  color:#4f5be7;
  background-color: #eff7ff;
  border-radius: 10px;
  font-weight:900;
  padding: 10px 25px;
}

.risk-nav .menu-item:hover {
  display:inline-block;
  color:#4f5be7;
  background-color: #eff7ff;
  border-radius: 10px;
  font-weight:900;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
  background-color: #4f5be7;
  border-color: #4f5be7;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* .custom-navbar {
  padding: 5px 30px;

} */

.help-btn-wrap{
  padding:10px;
  width: 125px;
  margin-left:35px;

}
.help-btn-wrap a{
  display:block;
  padding:10px 15px;
  text-align:center;
  color:#2c333c;
}

.login-name-wrap a{
  display:block;
  padding:10px;
  text-align:center;
  color:#2c333c;
  text-decoration: none;
  text-transform: none;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  padding-left:40px;
}
.login-name-wrap .fa-chevron-down{
  font-size:0.75rem;
  text-align:left;
  padding-left:5px;
  color:#84888e;
}

/* end of navbar */
/* prev-next button styles */

.slide-buttons-wrap, .dv-block-wrap, #tab-content{
  display:none!important;
}

.slide-buttons-wrap{
}

.slide-buttons-wrap .slide-buttons{
  z-index:100;
/*  border:solid 1px red;*/
}

.slide-buttons-wrap .prev-button{
  left:57px;
  top:250px;

}

.slide-buttons-wrap .next-button{
  right:57px;
  top:250px;
}

.slide-buttons-wrap a{
  font-size: 2.1875rem;
  width:3.125rem;
  height:4rem;
  text-align:center;
  background-color: #f3f4f4;
  color:#4f5be7;
  line-height: 3.5rem ;
}

.slide-buttons-wrap .prev-button a{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.slide-buttons-wrap .next-button a{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


/* end of prev-next button styles */
/*  risk summary card */
.main-container{
  padding:0px 15px;
}
.risk-summery-sec{
  padding-top:80px;
  padding-bottom:80px;
/*  border:solid 1px red;*/
  width:100%;
  margin: 0 auto;

}

.risk-summery-sec .rs-sec-wrap{

}

.risk-summery-sec .rs-main-card{
  border-radius: 2.5rem!important;
  padding-bottom:50px;
  margin:0 auto;
  width:100%;
}

.rs-sec-wrap .card .card-header{
  border-top-left-radius:2.5rem!important;
  border-top-right-radius:2.5rem!important;
  background-color: #fff!important;
}

.rs-sec-wrap .card .rs-header {
  border-top-left-radius:2.5rem!important;
  border-top-right-radius:2.5rem!important;

}

.rs-sec-wrap .card .rs-header h2{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  text-align:left;
  font-weight:900;
}

.rs-sec-wrap .card .rs-header span{
  font-family: 'Roboto', sans-serif;
  font-size:1.5rem;
  color:#4f5be7;
  text-align:left;
  font-weight:bold;

}

.rs-sec-wrap .rs-nav{
  padding-top: 50px;
}

.rs-sec-wrap .rs-nav li.nav-item a{
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  color:#4f5be7!important;
  font-weight:400;
  text-decoration-line: underline;
}

.rs-sec-wrap .rs-nav li.nav-item a span{
  display:inline-block;
  padding-left: 5px;
}

.rs-sec-wrap .rs-nav li.nav-item a i{
  font-size:1rem;
  color:#4f5be7!important;
  padding-right:5px;
}

.rs-sec-wrap .card-body .cb-head{
  background-color: #eff7ff;
}

.rs-sec-wrap .card-body .card-title{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  text-align:left;
  font-weight:900;
}

.rs-sec-wrap .card-body .card-text{
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  text-align:left;
  font-weight:400;
}

.card-body .cb-sec-one{
/*  border: solid 1px green;*/
}

.card-body .cb-sec-one .rs-img-wrap{
  width:15%;
  padding-right:10px;
}


.card-body .cb-sec-one-text{
  width:85%;
  padding-left:10px;
  text-align:left;
}

.card-body .cb-sec-one-text h5{
  font-family: 'Roboto', sans-serif;
  font-size:1.5rem;
  text-align:left;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:15px;
  margin-bottom: 0px;
}

.card-body .cb-sec-one-text p{
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  text-align:left;
  font-weight:400;
  padding-top:15px;
  padding-bottom:20px;
}

.card-body .cb-sec-one-text a{
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight:bold;
  padding:1.25rem 1.875rem;

}

.rs-sec-wrap .seperatorline{
  background-color: #c8daec;
  height:2px!important;
  width:95%;
  margin:0 auto;
}

/***footer-styles******/

.footer-sec .footer-wrap p{
font-family: 'Roboto', sans-serif;
font-size: 0.875rem;
font-weight:bold;
color: #73787e;
}

.footer-sec .social-links li a{
  font-size: 1rem;
  color: #73787e;
}

.rs-footer-baseline{
  color:#73787e;
}


/***end of footer-styles******/
/* end of risk summary card */
/* details card */

.dv-block-wrap{
  margin-top: 20px;
}

.dv-block-wrap .dv-closebutton{
  border:solid 1px #4f5be7;
  color:#4f5be7;
  width:2.125rem;
  height:2.125rem;
  border-radius: 50%;
  font-size: 2.125rem;
  opacity: 1;
}

.dv-block-wrap .dv-nav{
/*  border:solid 1px red;*/
  padding-bottom:0px;
}

.dv-block-wrap .dv-nav li{
  padding: 15px;
}

/*.dv-block-wrap .dv-nav li:first-child{
  padding-left: 0px;
}*/

.dv-block-wrap .dv-nav li:last-child{
  padding-right: 0px;
}

.dv-block-wrap .dv-nav a{
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight:400;
  color:#2c333c;
  text-transform:uppercase;
  padding:0;

}

.dv-block-wrap .dv-nav a.nav-active{
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight:400;
  color:#4f5be7;
  text-transform:uppercase;
  border-bottom:solid 2px #4f5be7;
  padding-bottom:20px;
}

.dv-accordian-wrap .accordion .card{
  border:none;
  background-color:transparent!important;
  padding-top:60px;
}

.dv-accordian-wrap .card-header{
  border-bottom: solid 3px #c8daec;
  background-color:#fff;
  padding-left:0px;
}

.dv-accordian-wrap .card .card-body{
  background-color:#f3fbfb;
}


.dv-accordian-wrap .card-header h5{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:left;
  text-transform: none;
  font-size:1.5rem;
  padding-left:0px;
}

.dv-accordian-wrap .card-header .collapse-color{
  color:#4f5be7;
}

.dv-accordian-wrap .card-body p{
  font-family: 'Roboto', sans-serif;
  text-align:left;
  color:#2c333c;
  font-size:1.125rem;
}

.dv-accordian-wrap .card-header h5 button .fa{
  text-align:right;
  font-size:22px;
  color:#4f5be7;
}

.dv-accordian-wrap .dv-hq-card-body a{
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight:bold;
  padding:10px;
  margin-bottom:50px;
  width:150px;
  display:block;
}

.genetic-right-header{
  padding-top:20px;
}

.genetic-right-header p{
  text-align:left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight:bold;
  padding-left:15px;
}

.gt-body .gt-nav{
  padding-left:60px;
}

/* end of details card */
/* genetic counselling card */

/*.gc-sec-wrap .gc-sec .gc-img-wrap{
  width:100%;

}*/

.gc-sec-wrap .gc-sec .gc-img-wrap img{
  width:100%;
  margin:0 auto;

}

/*.gc-sec-wrap .gc-sec .gc-text{
  width:%;

}*/

.gc-sec .gc-text .gc-text-subhead{
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight:bold;
}

.gc-sec-wrap .gc-sec .gc-text a{
  padding:10px 20px;
  display:inline-block;
}

.gc-sec-wrap .gc-sec .gc-text a i{
  font-size:1rem;
  text-align:left;
  padding-left:10px;
  text-align: center;
}



/* end of genetic counselling card */
/* faqscard */

.is-active{
  color:#000!important;
}

.faq-accordian-wrap .accordion .card{
  border:none;
  background-color:transparent!important;
  padding-top:60px;
}

.faq-accordian-wrap .card-header{
  border-bottom: solid 3px #c8daec;
  background-color:#fff;
  padding-left:0px;
}

.faq-accordian-wrap .card .card-body{
  background-color:#f3fbfb;
}


.faq-accordian-wrap .card-header h5{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:left;
  text-transform: none;
  font-size:1.5rem;
  padding-left:0px;
}

.faq-accordian-wrap .card-header .collapse-color{
  color:#4f5be7;
}

.expand-color{
  color:#2c333c;
}

.faq-accordian-wrap .card-header .faq-title{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:left;
  text-transform: none;
  font-size:1.5rem;
  color:#2c333c;
}

.faq-accordian-wrap .card-body p{
  font-family: 'Roboto', sans-serif;
  text-align:left;
  color:#2c333c;
  font-size:1.125rem;
  text-align:left;
}

.faq-accordian-wrap .card-header h5 button .fa{
  text-align:right;
  font-size:22px;
  color:#4f5be7;
}

.fa-minus-circle{
  color:#2c333c!important;
}


/* end of faqs card */
/* next-steps-card */


.next-steps-wrap{
 /* border:solid 1px red;*/
}

.next-steps-wrap .ns-header{
/*  border:solid 1px yellow;*/
  padding-top:50px;
  padding-bottom:40px;
}

.next-steps-wrap .ns-header h5{
/*  border:solid 1px blue;*/
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:left;
  font-size:1.5rem;
  padding-bottom:10px;
}

.next-steps-wrap .ns-header .ns-text{
/*  border:solid 1px red;*/
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:left;
  font-size:1.125rem;
  padding-top:10px;
}

.next-steps-wrap .ns-card-container{
/*  border:solid 1px pink;*/
  padding-top:20px;
}

.ns-card-container .ns-main-title{
  margin:0 auto;
  padding-bottom:40px;
/*  border:solid 1px red;*/
}

.ns-card-container h2{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:center;
  font-size:2.25rem;
  padding-top:40px;
  margin:0 auto;
  padding-bottom:30px;

}

.next-steps-wrap .ns-card-container .ns-card-wrap{
/*  border:solid 1px blue;*/
  margin-bottom: 30px;
}

.ns-card-wrap .card-body{
/*  border:solid 1px black;*/
  height:auto;
  text-align: center;
  margin:0 auto;
}

.ns-card-wrap .card-body .card-top{
/*  border:solid 1px red;*/
  background-color: #f7e8c0;
  margin:0;
  padding:0px;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  text-align: center;
}

.ns-card-wrap .card-body .card-top .card-title{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  text-transform: none;
  font-size:1.125rem;
  padding-top:40px;
  margin:0;

}

.ns-card-wrap .card-body .card-top .card-number{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  text-transform: none;
  font-size:3rem;
  color:#eab624;

}

.ns-card-wrap .card-body .card-btm{
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
/*  border:solid 1px cyan;*/
  margin:0;
  padding:10px;
  text-align:center;
  height:15rem;
}

.ns-card-wrap .card-body .card-text{
/*  border:solid 1px green;*/
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1rem;
  margin:0;
  text-align:center;
  padding-bottom: 10px;
}



.ns-card-wrap .card-body .pos-btm{
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
/*  border:solid 1px cyan;*/
  margin:0;
  padding:10px;
  text-align:center;
  height:10rem;
}

.ns-card-container .pos-header h2{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:center;
  font-size:2.25rem;
  padding-top:40px;
  margin:0 auto;
  padding-bottom:40px;

}


/**general recommendations styles**/

.gen-recommend-wrap{
/*  border:solid 1px red;*/
  background-color: #eff7ff;
  margin-top:40px;
  padding-bottom: 40px;
}

.gen-recommend-wrap .gen-rec-main-title h2{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:center;
  font-size:2.25rem;
  padding-top:80px;
  margin:0 auto;
  padding-bottom:40px;
}


.gen-recommend-wrap .gr-columns{
  padding-bottom: 40px;
}

.gen-recommend-wrap .gr-columns .gr-column-img-wrap{
  padding:0px;
}

.gen-recommend-wrap .gr-columns .gr-column-img-wrap img{
  display:block;
  width:100%;
  margin:0 auto;
}

.gen-recommend-wrap .gr-columns .gr-cloumn-text-wrap p{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1.125rem;
}

.gen-rec-footer-wrap .gen-rec-footer-title{
  padding-top: 40px;
  padding-bottom: 20px;
}

.gen-rec-footer-wrap .gen-rec-footer-title h5{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:1.5rem;
  color:#4f5be7;
}

.gen-rec-footer-wrap .gen-rec-footer-text{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1.125rem;
  color:#2c333c;
  padding-top: 20px;
  padding-bottom: 20px;
}

/**end of general recommendations styles**/
/* end of next-steps-card */

.your-risks-wrap{
  padding-top:0px!important;
}

.your-risks-wrap .ns-header{
/*  border:solid 1px yellow;*/
  padding-bottom:40px;
}

.your-risks-wrap .ns-header h5{
/*  border:solid 1px blue;*/
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:left;
  font-size:1.5rem;
  padding-top:50px;
  padding-bottom:10px;
}

.your-risks-wrap .ns-header .ns-text{
/*  border:solid 1px red;*/
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:left;
  font-size:1.125rem;
  padding-top:10px;
}


.your-risks-wrap .yr-graph-sec{
  background-color: #eff7ff;
  padding:50px;
}


.your-risks-wrap .yr-cancer-table{
  padding-top:40px;
}

.your-risks-wrap .yr-cancer-table .yr-table-title{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:1.125rem;
  text-transform: uppercase;
  text-align:left;
  padding-top:10px;
}

.yr-cancer-table thead th{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size:1rem;
  text-transform: uppercase;
  text-align:left;
  background-color: #eff7ff;
  border-top:0px;
  border-bottom: solid 2px #c8daec;
}

.yr-cancer-table tbody{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:1.125rem;
  text-transform: uppercase;
  text-align:left;
  color:#848484;
  border-bottom: solid 2px #c8daec;
}

.yr-cancer-table tbody tr{
  border-bottom: solid 2px #c8daec;
}

.yr-cancer-table tbody th{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:1.125rem;
  text-transform: uppercase;
  text-align:left;
  color:#848484;

}

/* eour-risks-card */
/* end of your-risks-card */
/* genetic councselling page styles */



.genetics-banner-sec-wrap .genetics-banner-sec{
  background: url(./img/geneticspage/genetics-banner-bg.png);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.genetics-banner-sec-wrap .genetics-banner-sec .container{
  height: 500px;
/*  border: solid 1px red;*/
  margin-top:0!important;

}

.genetics-banner-sec-wrap .genetics-banner-sec .container h1{
  font-family: 'Roboto', sans-serif;
  font-size:3rem;
  padding-top: 140px;
  font-weight: bold;
  max-width:640px;

}

.genetics-banner-sec-wrap .genetics-banner-sec .container p{
  font-size:1.5rem;
  padding-bottom:195px;
  color:#2c333c;
  font-weight:300;
  max-width:640px;
  line-height:30px;
}

@media (max-width: 767.98px) {
  .genetics-banner-sec-wrap .genetics-banner-sec .container{
    height: 600px;
  }
}

@media (min-width: 768px) {
  .genetics-banner-sec-wrap .genetics-banner-sec .container{
    padding-left:0px;

  }
}
/* end of genetics Bannerstyles */
/* second section */

.cancerpage-sec-1-main{
  padding-top:100px!important;

}

.cancer-common-sec-main{
  padding-top:0px!important;
}

.genetics-informed-sec-main {
padding-top:50px;

}

.genetics-informed-sec-main .heart-disease-sec{
/*  border:solid 1px red;*/

}

.genetics-informed-sec-main .heart-disease-sec .hd-img{
/*  border:solid 1px blue;*/

}

.genetics-informed-sec-main .heart-disease-sec .hd-text{
/*  border:solid 1px black;*/

}

.genetics-informed-sec-main .genetics-intro-text{
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-bottom:80px;
}

.genetics-h2{
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align: center;
  padding-top:50px;
  padding-bottom:30px;
}

.genetics-h2-p{
  font-family: 'Roboto', sans-serif;
  font-size:1.875rem;
  font-weight:400;
  text-align: center;
  line-height:1.15;
}

/*end of second section*/
/* genetic counselling help session styles */

.gc-help-main-sec{
  background: url(./img/geneticspage/genetics-session-background.png) no-repeat center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}

.gc-help-main-sec .gc-help-main-wrap{
  padding-top:130px;
  padding-bottom:130px;
  margin:0 auto;
}

.gc-help-main-sec .gc-help-main-wrap h2{
  font-family: 'Roboto', sans-serif;
  font-size:2.5rem;
  font-weight:900;
  margin:0 auto;
}

.gc-help-card-main-wrap .card-deck .card-deck-wrap{
  padding:0px 10px;
  margin:0;
}

/*.gc-help-card-main-wrap .card-deck .card-deck-wrap:first-child{
  padding-left:0px!important;

}

.gc-help-card-main-wrap .card-deck .card-deck-wrap:last-child{
  padding-right:0px!important;

}*/

.gc-help-card-main-wrap .card-deck .card-deck-wrap .card{
  border:none;
  margin:0;
  height:330px;
}

.gc-help-main-wrap .card-body .card-block .card-img{
  height:160px;
  width:160px;
}

.gc-help-main-wrap .card-body .card-text{
  font-size:1.125rem;
  font-weight:900;
}


.gc-help-button-wrap .gc-help-button{
  padding: 15px 40px;
  font-weight:bold;
  font-size:0.875rem;
  text-transform: uppercase;
}

/*****End of genetic counselling help session styles******/
/*****End of genetic cause styles******/

.genetic-cause-sec-main{
  background-color: #eff7ff;
  padding:100px 15px;
}

.genetic-cause-header-wrap .genetic-cause-header{

}

.genetic-cause-header-wrap .genetic-cause-subtitle{
  max-width:950px;
  margin:0 auto;
  padding-bottom:25px;
}

.questions-btn{
  padding-top:25px;
}

.questions-btn p{
  padding-bottom:25px;
  margin-bottom:0px;
}

.questions-btn a{
  padding:15px 30px;
  margin-top:25px;
  font-size:0.875rem;
  font-weight:bold;
  text-transform: uppercase;
}

/**End of genetic cause styles*/
/*genetic counselling reasons card styles*/

.reasons-sec{
/*  border:solid 1px red;*/
}


.reasons-sec .reasons-sec-wrap{
  padding-top:50px;
  padding-bottom:70px;
}


.reasons-sec .reasons-sec-wrap .gr-header{
 /* border:solid 1px black;*/
  margin:0 auto;
}
.reasons-sec .reasons-sec-wrap .reasons-main-header-wrap h2{
  font-size:2.5rem;
  font-weight:900;
  margin:0 auto;
  padding-bottom:10px;
}

.reasons-sec .reasons-sec-wrap .reasons-main-header-wrap p{
/*  border:solid 1px black;*/
  margin:0 auto;
  font-size:2.25rem;
  font-weight:400;
  padding-top:10px;
}

.reasons-card-wrap .card{
  text-align: center;
  margin:0 auto;
}

.reasons-card-wrap .card-body{
/*  border:solid 1px black;*/
  height:auto;
  text-align: center;
  margin:0 auto;
}

.reasons-card-wrap .card-body .card-top{
/*  border:solid 1px red;*/
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  text-align: center;
}

.reasons-card-wrap .card-body .card-btm{
 border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  margin:0;
  padding-top: 30px;
  padding-bottom: 330px;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  height:11rem;
  background-color: #eff7ff;
}

.reasons-card-wrap .card-body .card-btm .card-title{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:center;
  font-size:1.5rem;
  margin:0;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.reasons-card-wrap .card-body .card-text{
 /*  border:solid 1px green;*/
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1.125rem;
  margin:0;
  text-align:center;
}

@media (max-width: 575.98px) {
  .reasons-card-wrap .card-body .card-btm{

    padding-bottom: 400px;

  }
}

@media (min-width :768px) and (max-width: 991.98px){
  .reasons-card-wrap .card-body .card-btm{

    padding-bottom: 350px;

  }
}

/*End of genetic counselling reasons card styles*/
/*Our Process Card Styles*/


.our-process-sec{
  padding-bottom:50px;
}

.our-process-sec .our-process-sec-header{
  padding-top:20px;
  padding-bottom:65px;
}

.our-process-sec .our-process-sec-header h2{
  font-size:2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align: left;
  text-transform: uppercase;
  margin:0;
  padding-bottom:10px;
}

.our-process-sec .our-process-sec-header p{
  margin:0 auto;
  font-size:1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  text-align: center;
  color:#2c333c;
  padding-top:10px;

}

.op-card-wrap .card{
  width:auto;
  height:600px;
}

.op-card-wrap .card-body{

  padding-top:25px;
  padding-bottom:30px;
}


.op-card-wrap .card-body .card-number {

  font-size:3rem;
  font-weight:900;
  text-align: center;
  margin-bottom: 0px;
  display:inline-block;
  padding-bottom:15px;
}

.op-card-wrap .card-body .card-number.op-no-1{
 color:#f3d595!important;
}

.op-card-wrap .card-body .card-number.op-no-2{
 color:#ebb297;
}

.op-card-wrap .card-body .card-number.op-no-3{
 color:#d7cdec;
}

.op-card-wrap .card-body .card-number.op-no-4{
 color:#80dafd;
}

.op-img-box{

}

.card .op-img-box .op-img-wrap{
  display:block;
  width:180px;
  height:180px;
  line-height:150px;
  border-radius:50%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.card-1 .op-img-box .op-img-wrap{
  border: solid 20px #f2d278;
}

.card-2 .op-img-box .op-img-wrap{
  border: solid 20px #ebb095;
}

.card-3 .op-img-box .op-img-wrap{
  border: solid 20px #d7cceb;
}

.card-4 .op-img-box .op-img-wrap{
  border: solid 20px #80dafd;
}

.op-card-wrap h5{
  margin:0 auto;
  font-size:1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom:18px;
  padding-top:30px;

}

.op-card-wrap p{
  margin:0 auto;
  font-size:1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  text-align: center;
  color:#fff;
  padding-top:10px;

}

.op-card-wrap .card-1{
  background-color: #eab623;
}
.op-card-wrap .card-2{
  background-color: #de7e52;
}
.op-card-wrap .card-3{
  background-color: #bdacdf;
}
.op-card-wrap .card-4{
  background-color: #2fc2fc;
}


.card-1 .op-img-wrap  img{
  display:block;
  height: auto;
  width: 70px;
  margin: 0 auto;
  margin-top: 25px!important;
}

.card-2 .op-img-wrap  img,
.card-3 .op-img-wrap  img{
  display:block;
  height: auto;
  width: 70px;
  margin: 0 auto;
  margin-top: 40px;
}

.card-4 .op-img-wrap  img{
  display:block;
  height: auto;
  width: 70px;
  margin: 0 auto;
  margin-top: 20px!important;
}

/*End of Our Process Card Styles*/
/* end of genetic councselling page styles */
/* Cancer page banner styles */

/*.cancer-common-sec-main{
  padding-top:100px!important;
}*/

.cancer-banner-sec-wrap .cancer-banner-sec{
  background: url(./img/cancerpage/cancerpage-herobanner-bg.png);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cancer-banner-sec-wrap .cancer-banner-sec .container{
  height: 500px;
/*  border: solid 1px red;*/
  margin-top:0!important;

}

.cancer-banner-sec-wrap .cancer-banner-sec .container h1{
  font-family: 'Roboto', sans-serif;
  font-size:3rem;
  padding-top: 140px;
  font-weight: 900;
  max-width:640px;

}

.cancer-banner-sec-wrap .cancer-banner-sec .container p{
  font-size:1.5rem;
  padding-bottom:195px;
  color:#2c333c;
  font-weight:300;
  max-width:640px;
  line-height:30px;
}

@media (max-width: 767.98px) {
  .cancer-banner-sec-wrap .cancer-banner-sec .container{
    height: 600px;
  }
}

@media (min-width: 768px) {
  .cancer-banner-sec-wrap .cancer-banner-sec .container{
    padding-left:0px;

  }
}



/* Cancer page secion-4 Be proactive cards styles */

.bp-main-sec{
  background: url(./img/cancerpage/card_main_Background.png) no-repeat center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  margin-top:50px;
}

.bp-main-sec .bp-main-wrap{
  padding-top:100px;
  padding-bottom:100px;
  margin:0 auto;
}

.bp-main-sec .bp-main-wrap h2{
  font-family: 'Roboto', sans-serif;
  font-size:2.5rem;
  font-weight:900;
  margin:0 auto;
}


.bp-main-sec .bp-main-wrap .bp-main-sub-heading{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight: 400;
  margin:0 auto;
  padding-bottom:10px;
}

.bp-main-sec .bp-main-wrap .bp-cards-header{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight:900;
  margin:0 auto;
  color:#4f5be7;
  padding-top:10px;
  padding-bottom:10px;
}

.bp-main-sec .bp-main-wrap .bp-cards-subtitle{
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  font-weight:400;
  text-align:center;
  margin:0 auto;
  padding-top:10px;
  padding-bottom:10px;
  line-height:1.25;
}

.bp-main-wrap .card-deck .card-deck-wrap{
  padding:0px 10px;
  margin:0;
}

.bp-main-wrap .card-body .card-block .card-img{
  height:160px;
  width:160px;
}

.bp-main-wrap .card-body .card-text{
  font-size:1.125rem;
  font-weight:400;
}

@media (max-width: 575.98px) {
  .bp-main-wrap .card-deck .card-deck-wrap .card{
    height:450px;
  }
}

@media (max-width: 576px) (max-width: 767.98px){
  .bp-main-wrap .card-deck .card-deck-wrap .card{
    height:300px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .bp-main-wrap .card-deck .card-deck-wrap .card{
    height:380px;
  }
}

@media (min-width: 992px){
  .bp-main-wrap .card-deck .card-deck-wrap .card{
    height:480px;
  }
}

/*****End of Cancer page secion-4 Be proactive cards styles******/
/*****blue-bg-with-text secion-9styles******/

.blue-bg-sec-main{
  background-color: #eff7ff;
}

.blue-bg-sec-main .blue-bg-sec-wrap{
  padding-top:100px;
  padding-bottom:100px;
}

.blue-bg-sec-main .blue-bg-header{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight:900;
  text-align:left;
  margin:0 auto;
  padding-top:10px;
  padding-bottom:20px;
  color:#4f5be7;
}

.blue-bg-content p{
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  font-size:1.125rem;
  font-weight:400;
  text-align:left;
  padding-bottom:0;
}

/*****End of blue-bg-with-text secion-9 styles******/
/*****Learn about your risks Section styles******/

.learn-video-sec{
  background-color: #eff7ff;
}


.learn-video-sec .learn-video-sec-header h3{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  margin:0 auto;
  text-align: center;
  padding-bottom: 40px;
}


.learn-video-sec .learn-video-sec-wrap{
  background-color: #eff7ff;
  padding:100px;
}

/*****End of Learn about your risks Section styles******/
/*****cancer page got to know section styles******/

.gtk-sec{
/*  border:solid 1px red;*/
}


.gtk-sec .gtk-sec-wrap{
  padding-top:100px;
  padding-bottom:70px;
}

.gtk-sec .gtk-sec-wrap .gtk-main-header-wrap h2{
  max-width:975px;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  font-size:2.5rem;
  font-weight:900;
  text-align:center;
  padding-bottom:10px;
}

.gtk-card-main-wrap{
/*  border:solid 1px blue;*/
  padding-right:50px;
  padding-left:50px;
}

.gtk-card-wrap .card-body{
  height:auto;
  text-align: center;
  margin:0 auto;
/*  border:solid 1px red;*/
}

.gtk-card-wrap .card-body .card-top{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-align: center;
}

.gtk-card-wrap .card-body .card-btm{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin:0;
  padding-top: 30px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  height:15rem;
  background-color: #eff7ff;
}

.gtk-card-wrap .card-body .card-btm .card-title{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  text-align:center;
  font-size:1.5rem;
  margin:0;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.gtk-card-wrap .card-body .card-text{
 /*  border:solid 1px green;*/
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1.125rem;
  margin:0;
  text-align:center;
}

.order-btn{
  margin-top:25px;
}

.order-btn,
.she-btn{
  padding-top:25px;
}

.order-btn p,
.she-btn p{
  padding-bottom:25px;
  margin-bottom:0px;
}

.order-btn a{
  padding:15px 50px;
  margin-top:25px;
  font-size:0.875rem;
  font-weight:bold;
  text-transform: uppercase;
}

.she-btn a{
  padding:15px 40px;
  margin-top:25px;
  font-size:0.875rem;
  font-weight:bold;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .gtk-card-wrap .card-body .card-btm{
    padding-bottom: 175px;
  }

  .order-btn{
    margin-top:0px;
  }
}

@media (min-width :768px) and (max-width: 991.98px){
  .gtk-card-wrap .card-body .card-btm{
    padding-bottom: 220px;
  }

  .gtk-card-main-wrap{
    padding-right:100px;
    padding-left:100px;
  }
}

@media (min-width :992px){
  .gtk-card-wrap .card-body .card-btm{
    padding-bottom: 220px;
  }

  .gtk-card-main-wrap{
    padding-right:100px;
    padding-left:100px;
  }
}

/*****End og cancer page got to know section styles******/
/*****cancer page impact of mutations section styles******/

.impact-main-sec{
/*  border:solid 1px red;*/
}


.impact-main-sec .impact-sec-wrap{
  padding-top:100px;
  padding-bottom:0px;
}

.impact-main-sec .impact-sec-wrap .impact-main-header-wrap h2{
  max-width:975px;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  font-size:2.5rem;
  font-weight:900;
  text-align:center;
  padding-bottom:10px;
}


.impact-main-sec .impact-sec-wrap .impact-main-header-wrap h3{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight: 400;
  margin:0 auto;
  padding-bottom:10px;
  max-width:730px;
}

.impact-card-wrap .card-body{
  height:750px;
  text-align: center;
  margin:0 auto;
}

.impact-card-wrap .card-body .card-top{
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  text-align: center;
}

.impact-card-wrap .card-body .card-top h3{
  font-family: 'Roboto', sans-serif;
  font-size:2.25rem;
  font-weight: 900;
  margin:0 auto;
  color:#4f5be7;
  padding:50px;
  max-width:500px;
}

.impact-card-wrap .card-body .card-middle{
  background-color: #eff7ff;
}

.impact-card-wrap .card-body .card-middle .middle-img-wrap{
  padding:50px;
}

.impact-card-wrap .card-body .card-btm{
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  margin:0;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  height:11rem;
}

.impact-card-wrap .card-body .card-text{

  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  text-align:center;
  font-size:1.125rem;
  text-align:center;
}


@media (max-width :575.98px){
  .impact-card-wrap .card-body{
    height:820px;
  }
}

@media (min-width :768px) and (max-width: 991.98px){
  .impact-card-wrap .card-body{
    height:700px;
  }
}

/*****End of cancer page impact of mutations section styles******/


/* genetic counselling form at footer */

.gc-form-card{
  border-radius:2rem;
  margin-bottom: 120px;
}


.gc-form-card .gc-form-card-wrap{
/*  border: 1px solid blue;*/
  border-radius:2rem;

}

.gc-form-card-wrap .gc-form-card-top{
  border-top-right-radius:2rem!important;
  border-top-left-radius:2rem!important;
  padding-bottom: 40px;

}

.gc-form-card-wrap .gc-form-card-top h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.25rem;
  font-weight:900;
  padding-bottom: 20px;
  padding-top: 70px;

}


.gc-form-card-top .gc-form-subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight:400;
  margin:0 auto;
  max-width:600px;
  line-height:1.15;
}

.gc-form-card-wrap .gc-form-card-btm{
  background-color: #ccf1f1;
  border-bottom-right-radius:2rem!important;
  border-bottom-left-radius:2rem!important;
}


.gc-form-card-wrap .gc-form-card-btm{
  background-color: #ccf1f1;
  border-bottom-right-radius:2rem!important;
  border-bottom-left-radius:2rem!important;
}


.gc-form{
  padding-top:45px;
}
.gc-form .gc-col{
  margin-right:10px;
  margin-left:10px;
}

.gc-form .gc-col textarea{
  padding-top:20px;
}
.gc-form .input-group{
  border:solid 1px #ebebeb;
}

.gc-form .input-group input{
  caret-color : #;
}

.gc-form .input-group .form-control{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight:400;
  border:none;
  height:60px;
}

.gc-form .input-group .form-control:focus {
  border-color: #ebebeb;
  box-shadow: inset
  0 0px 0px rgba(0, 0, 0, .01),
  0 0 0px rgba(0, 0, 0, .01),
  0 0 30px rgba(141, 141, 141, 0.5),
  0 0 0px rgba(0, 0, 0, .01);
}

.form-control:focus {
  border-color: #ebebeb;
  box-shadow: inset
  0 0px 0px rgba(0, 0, 0, .01),
  0 0 0px rgba(0, 0, 0, .01),
  0 0 30px rgba(141, 141, 141, 0.5),
  0 0 0px rgba(0, 0, 0, .01);
}

/* upload prescription button styles */

.onhover-white:hover{
  color:#fff!important;
}

/* End of upload prescription button styles */

.gc-form .input-group .input-group-prepend{

}

.gc-form .input-group .input-group-prepend span{
  border:none;
  background-color: #fff!important;
}

.gc-form .input-group .input-group-prepend img{
  background-color: #fff!important;
}


.gc-form button{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight:400;
  height:60px;
}


@media (max-width :575.98px){
  .gc-form-card{
    padding-left:15px;
    padding-right:15px;
  }
}

/* end of genetic counselling form at footer */
/* payment date-time calender styles */

.date-time-sec-wrap{
  /* border:solid 1px red; */
}

.date-time-sec-wrap .date-time-sec-main{
  /* border:solid 1px blue; */
  margin: 0;
}

.date-time-sec-main .date-main-sec{
  /* border:solid 1px yellow; */
}
/*  */
.date-time-sec-main .time-main-sec{
  /* border:solid 1px cyan; */
  margin: 0 auto!important;
}

.time-main-sec .time-main-sec-wrap{
  padding-top:40px;
}

.date-time-sec-main .time-sec-header{
  padding-bottom:20px;
}

.date-time-sec-main .time-sec-header p{
  /* border:solid 1px red; */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight:700;
  margin:0 auto;
  text-align: center;
  text-transform: uppercase;
  color:#4f5be7;
}

.time-table-wrap{
  padding-top:20px;
  margin: 0 auto;
}

.time-table-wrap{
  padding-top:20px;
  padding-bottom:20px;
  margin: 0 auto;
}

.time-table-wrap .time-table-row button{
  border:none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight:400;
  text-align: left;
  margin:0 auto;
  color:#2c333c;
}

.time-table-wrap .time-table-row button:hover{
  color:#fff;
}

.div-color{
  background-color:#dcf4f4;
}
/* end of payment date-time calender styles */
/* create registration page styles*/




.active .i-button{
  background-color: #4f5be7;
  color:white;
}
.i-button{
  display: inline-block;
border-radius: 60px;
box-shadow: 0px 0px 2px #888;
padding: 0.5em 0.6em;

}


/* end of create registration page styles*/
/****Author-2-custom-styles-ends-here****/
